[2016-09-08 14:54] kielni opened #1 "taco truck icons"
Taco truck icon, active (draggable) and placed by others
option to scale (i.e. tiny at full US zoom, bigger at city-level zoom)

[2016-09-08 14:54] kielni opened #2 "page layout"
Single-page main design
Professional-looking, simple-to-build design
Contains elements listed above (Name, Text 1, Video, Text 2/3, Map, Save Button, Disclaimer)
Make site mobile optimized

[2016-09-08 14:55] kielni opened #3 "open donation page on click save"
Clicking save saves the truck, and also opens a new tab with pre-filled donation page

[2016-09-08 14:56] kielni opened #4 "default map to 1600 Pennsylvania Ave"
choose a zoom level where it's obviously the White House
need decimal lat/lng

[2016-09-08 14:57] kielni opened #5 "share buttons"
We need share buttons:

Facebook https://developers.facebook.com/docs/plugins/share-button#configurator
- with preview metadata

Twitter https://dev.twitter.com/web/tweet-button
- sample Tweet: I just sponsored a virtual taco truck. You can, too. Save The  #Tacos.

Pinterest

No final URL yet; use a placeholder for now.

[2016-09-08 14:59] kielni opened #6 "implement design"
when https://github.com/DevProgress/more-tacos/issues/2 is ready, implement it

[2016-09-08 15:01] kielni opened #7 "Google Analytics"
- get GA tracking code
- add to page

[2016-09-08 15:12] kielni opened #8 "add devprogress ascii art to index.html"
cut and paste from https://devprogress.us/maps-showcase/site/map.html

[2016-09-08 15:25] kielni opened #9 "view DevProgress/index.html"
I pushed a gh-pages branch but https://devprogress.us/more-tacos/site/index.html is a 404; how do we get that working?

[2016-09-08 15:36] phildini commented on #9
https://devprogress.us/more-tacos/ works for me?

[2016-09-08 15:42] kielni commented on #9
perfect, thanks!

[2016-09-08 15:42] #9 closed, assigned to phildini, bradyk

[2016-09-08 15:45] kielni opened #10 "add clustering"
hopefully there will be lots and lots of tacos; need to make sure the map is still usable

add MarkerClusterer:
https://developers.google.com/maps/articles/toomanymarkers

[2016-09-08 15:47] kielni commented on #1
We may need to cluster the icons if there are too many (especially zoomed out).  If so, we probably want to customize the icon (truck shape with space for a number?)  See marker cluster example https://developers.google.com/maps/articles/toomanymarkers/MarkerClustererDone.png

![markerclustererdone](https://cloud.githubusercontent.com/assets/1649528/18356313/17bd0630-75a1-11e6-9cdc-e92a0c280732.pn

[2016-09-08 16:28] flibbertigibbet opened #12 "map does not load in Firefox for default location"
If user selects 'not now' in response to geolocation request prompt, map does not load.

(See [this](http://stackoverflow.com/questions/5947637/function-fail-never-called-if-user-declines-to-share-geolocation-in-firefox).)

[2016-09-08 17:38] #4 closed, assigned to flibbertigibbet

[2016-09-08 21:19] kielni commented on #3
URL is  https://www.hillaryclinton.com/donate/?amount=3.00&utm_source=tacotruckify

[2016-09-09 00:00] #10 closed, assigned to jjandoc

[2016-09-09 00:02] kielni opened #14 "custom clustered markers"
need a truck-shaped cluster icon: truck shape with transparent center

how big does it need to be? where do the numbers go exactly?

[2016-09-09 00:10] kielni commented on #6
on click save:
- [x] change icon from active to pinned
- [x] open popup with link to donate
- [x] add generated id to location.hash
- [ ] set share button URLs to full URL
- [ ] show share buttons

[2016-09-09 00:16] kielni commented on #14
like this but with trucks
<img width="811" alt="screen shot 2016-09-08 at 5 16 33 pm" src="https://cloud.githubusercontent.com/assets/1649528/18371301/0b342be0-75e8-11e6-9133-15d3a44bff3f.png">
: https://googlemaps.github.io/js-marker-clusterer/examples/advanced_example.html

[2016-09-09 01:57] andrewjtimmons commented on #14
Hi!

This has an open source set of emoji
http://emojione.com/

What if I took this emoji and photoshopped it to say 'Tacos'

http://emojipedia.org/emoji-one/2.0/delivery-truck/

What size are you looking for?

[2016-09-09 03:12] kielni commented on #14
@jjandoc is making taco truck icons for the regular markers.  I don't know what size the cluster marker needs to be; big enough to contain the numbers.

[2016-09-09 05:11] kielni commented on #8
https://github.com/DevProgress/more-tacos/pull/15/commits/f6194ee

[2016-09-09 05:11] #8 closed, assigned to nobody

[2016-09-09 05:12] kielni commented on #3
https://github.com/DevProgress/more-tacos/pull/15/commits/f6194ee

[2016-09-09 05:12] #3 closed, assigned to nobody

[2016-09-09 13:32] nathanaelphilip commented on #5
do we have graphics created for the share images?

[2016-09-09 15:22] silasmeredith opened #16 "Link with lattitude/longitude not working"
e.g. the link below was from a taco truck smack dab in the middle of Columbus Circle by Central Park in Manhattan, but the link takes you out into the Atlantic.

https://devprogress.us/more-tacos/#40.76806919965931_-73.98184980237733

[2016-09-09 15:23] silasmeredith opened #17 "Donate button doesn't work on desktop"
Windows, Firefox

The donate button appears, but doesn't open a new tab or go to any link when clicked.

[2016-09-09 15:27] silasmeredith opened #18 "Unique icon for current truck not working on desktop"
(Windows, Firefox)

The "active" taco truck (available for dragging) looks the same as existing ones, whereas on mobile it's in a different color so you know which one it is.

[2016-09-09 15:28] silasmeredith opened #19 "Click/tap truck to save, instead of a separate "save" button"

[2016-09-09 15:28] silasmeredith opened #20 "Change title to "TacoTruck.Party""

[2016-09-09 15:29] silasmeredith opened #21 "Change subtitle to: “Put a virtual taco truck somewhere funny. Then tell your friend.” (Instead of "Taco trucks on every corner? Sounds like a dream!")"

[2016-09-09 15:29] silasmeredith opened #22 "Popup over map, or maybe just text above map: “Drag the blue truck to a funny location, then click/tap it to allow others to see it.”"

[2016-09-09 15:34] silasmeredith opened #23 "Shareable text on screen after saving truck"
Print prominently on the screen right when user saves truck:

“Tell your friend: ‘Hey! I just put a (virtual) taco truck on the map for you. Hopefully, when the taco truck invasion happens, they’ll put a real taco truck there! LINK.’ ”

[2016-09-09 15:36] silasmeredith opened #24 "Enable successive truck saves"
If the user saves a truck, then drags the active truck elsewhere, they should be able to save another truck.

[2016-09-09 15:37] silasmeredith opened #25 "Add text at bottom attributing image source (icon from Creative Commons)"

[2016-09-09 15:42] silasmeredith commented on #25
Note to self: once icons are finalized, write attribution text, then assign to @kielni

[2016-09-09 15:45] #6 closed, assigned to kielni

[2016-09-09 15:46] kielni commented on #2
first draft is good; issues for additional changes

[2016-09-09 15:46] #2 closed, assigned to JaneRuby

[2016-09-09 15:46] kielni commented on #5
No, just standard Facebook and Twitter buttons

[2016-09-09 15:48] kielni opened #26 "preview image for Facebook"
Once we have the design settled, need to generate a preview .png that will appear in Facebook snipped.  Also need to verify markup works for Google preview.

[2016-09-09 15:49] kielni commented on #5
share URL will be http://tacotruck.party

[2016-09-09 15:52] nathanaelphilip commented on #5
I meant the graphics that show up on the user’s Facebook timeline or in the Tweet (if we wanted to make it a Twitter Card).

[2016-09-09 17:31] kielni commented on #5
fixed by https://github.com/DevProgress/more-tacos/pull/27

[2016-09-09 17:57] nathanaelphilip commented on #20
Is this just the `<title>` Tag, or the `<h1>` tag, or both?

[2016-09-09 18:11] silasmeredith commented on #20
![2016-09-09_14-10-50](https://cloud.githubusercontent.com/assets/22085972/18397681/496d2236-7697-11e6-99d3-0b79d6d80b12.jpg)

I don't know HTML, but I was thinking the big title at the top. Shown in attached image.

[2016-09-09 18:13] jjandoc commented on #14
We have control over the font, size, and color of the numbers so you can make the icons whatever sizes and fit the text accordingly. Bigger numbers will need bigger images. If there's a LOT of pins, I'm not sure if there's a way to switch over to writing shorter notation like "10.5K". There's probably a host of other performance problems that come in once there's that many.

[2016-09-09 18:16] jjandoc commented on #14
Image should be a png with alpha transparency. The default plugin images range from 53x52 to 90x89, but there's complete flexibility in defining these images.

[2016-09-09 18:24] nathanaelphilip commented on #17
confirmed the bug. will investigate

[2016-09-09 18:30] flibbertigibbet opened #30 "Localize"
Make site translatable. Add translations for Spanish, and potentially other languages. Use browser locale for language default.

[2016-09-09 18:33] jillh510 commented on #16
c22d557

[2016-09-09 18:42] nathanaelphilip commented on #19
not really sure how feasible this is since you have to click a marker to drag it. I think the only option would be to save each time a marker is moved, and remove any previous locations from this session.

i would like another dev’s opinion on this, but I don’t think it’s feasible.

[2016-09-09 19:06] jillh510 commented on #24
Created pull request #33

[2016-09-09 19:10] jillh510 commented on #19
We could track the mousedown and mouseup times, and if they're below some hysteresis, assume it was a click rather than a drag.

[2016-09-09 19:23] kielni commented on #21
https://github.com/DevProgress/more-tacos/pull/28

[2016-09-09 19:29] kielni commented on #20
https://github.com/DevProgress/more-tacos/pull/29

[2016-09-09 19:29] #20 closed, assigned to nathanaelphilip

[2016-09-09 19:31] #22 closed, assigned to nathanaelphilip

[2016-09-09 19:37] nathanaelphilip commented on #21
is there still an issue with this one?

[2016-09-09 19:38] kielni commented on #1
- white with corn-tortilla-colored taco
- white with corn-tortilla-colored taco plus blue ring (?) around it for active draggable
- white with no taco for displaying cluster count

here’s a map sample with a custom cluster icon; want to use trucks instead of the bubbles

![](https://cloud.githubusercontent.com/assets/1649528/18371301/0b342be0-75e8-11e6-9133-15d3a44bff3f.png)

 https://googlemaps.g

[2016-09-09 19:39] kielni commented on #21
no I forgot to add "fixes " in front of the issue number; that will auto-close on merge

[2016-09-09 19:39] #21 closed, assigned to nathanaelphilip

[2016-09-09 19:40] kielni commented on #24
https://github.com/DevProgress/more-tacos/pull/33

[2016-09-09 19:40] #24 closed, assigned to jillh510

[2016-09-09 21:18] silasmeredith commented on #23
Whoops, looks like this functionality was added, but the text should match the text in the description of this issue. I failed to specify this, but the LINK should be the www.tacotrucks/party link that contains lattitude and longitude of the most recent truck

[2016-09-09 21:22] silasmeredith commented on #5
I could be wrong, but this one doesn't seem to be complete. There aren't any Facebook/Twitter buttons on main page yet.

I'm just learning GitHub, but for some reason I can't see #27. Maybe I have my filters set wrong?

[2016-09-09 21:57] nathanaelphilip commented on #5
hi @silasmeredith this shows up after the user shares a truck.

[2016-09-09 21:58] nathanaelphilip commented on #5
That’s where the initial “design” had them. If they also need to be in the main HTML, I can add them there as well.

[2016-09-09 21:58] kielni opened #38 "Place another marker offset"
Offset of new draggable marker needs to account for scale
See possible solution http://stackoverflow.com/questions/10656743/how-to-offset-the-center-point-in-google-maps-api-v3

[2016-09-09 21:59] jillh510 commented on #38
PR #37 should address this.

[2016-09-09 22:01] nathanaelphilip commented on #23
sure thing. do you mean `tacotrucks.party/#lat_lng` ?

[2016-09-09 23:29] jjandoc commented on #19
How about moving the "save" button to an info window that appears on dragend of the marker.

[2016-09-10 05:16] jjandoc commented on #17
Pull request submitted that fixes this.

[2016-09-10 05:39] #17 closed, assigned to nathanaelphilip

[2016-09-10 05:42] kielni opened #40 "get share buttons to behave"
This is driving me crazy.  Share buttons should be the same height I can't figure out how to make them do that.

<img width="96" alt="screen shot 2016-09-09 at 10 38 23 pm" src="https://cloud.githubusercontent.com/assets/1649528/18408224/a9e7f3a6-76de-11e6-88a7-88426c390cbc.png">

[2016-09-10 05:44] #38 closed, assigned to jillh510

[2016-09-10 05:46] kielni commented on #5
I made them always appear on the top right of the map, but am having alignment issues (see https://github.com/DevProgress/more-tacos/issues/40)

[2016-09-10 05:46] #5 closed, assigned to nathanaelphilip

[2016-09-10 05:48] kielni opened #41 "set favicon to final truck icon"
when available

[2016-09-10 09:41] jjandoc commented on #12
New pull request #42 fixes this

[2016-09-10 09:41] jjandoc commented on #18
New pull request #42 should fix this

[2016-09-10 15:59] silasmeredith commented on #23
@nathanaelphilip , I believe that's right. I don't know what the exact URL convention will be, but yes, I'm refering to the link that sends you to the correct latitude and longitude. Thank you!

[2016-09-10 16:00] silasmeredith commented on #23
Sorry for the delay. Just getting up to speed on GitHub and notifications.Any newbie advice welcome!

[2016-09-10 16:21] silasmeredith commented on #16
@jillh510 , I might be missing something here, but when I follow the link about on my Chromebook, it asks for my current location and zooms the map to my current location, rather than to the Columbus Circle location that it should go to. Do I need to clear cache, or perhaps there's another open ticket about this? Thanks.

[2016-09-10 16:30] silasmeredith opened #43 "Duplicates: After saving, there are now TWO draggable taco trucks"
Steps to recreate:
- Open devprogress.us/more-tacos/
- Move truck to a new location, and click "Save"
- Drag the blue taco truck
- Also, drag the black taco truck you just dropped

Expected behavior: only one draggable taco truck at a time

[2016-09-10 16:35] #12 closed, assigned to nathanaelphilip

[2016-09-10 16:45] silasmeredith commented on #19
@jjandoc , I like the idea of having the save button near the truck itself. It's way less confusing for the user. Here's an idea that might be the easiest to develop, and the easiest to use:
- Once the truck is dragged, the popup changes from "Drag the taco truck, then click Save" to the "Save" button itself.
- After the first save, the button disappears until the truck is dragged again, then reap

[2016-09-10 16:52] silasmeredith opened #44 "Clicking "Save" button should automatically open new tab for donation to HFA"
Looks like the donation link is up and working again, from #17 , which is awesome. Two important things to add:
- Each time the "Save" button is clicked, a new tab should open, taking the user to the HFA donation page. (From original Google Doc)
- The updated link is https://www.hillaryclinton.com/donate/?amount=3.00&utm_source=tacotruckparty

Without these, we'll drive very few donations, and the

[2016-09-10 17:02] silasmeredith opened #45 "Facebook and Twitter sharing need to link to specific Latitude and Longitude"
People want to share their taco truck, not just the platform in general.

[2016-09-10 17:21] jjandoc commented on #19
Sounds perfect. I can take a crack at this this morning.

[2016-09-10 17:31] silasmeredith commented on #19
Thank you, Jon!

[2016-09-10 18:26] jjandoc commented on #19
Pull request #48 submitted.

[2016-09-10 18:29] #19 closed, assigned to nathanaelphilip, jjandoc

[2016-09-10 18:29] kielni commented on #40
looks like localhost only issue

[2016-09-10 18:29] #40 closed, assigned to nobody

[2016-09-10 18:41] kielni opened #49 "metrics"
want to track:
- page views
- total trucks
- clicks to donate
- Facebook shares
- Tweets

For Facebook, we can use a version of the button that includes a count.  For Twitter, we can add a hashtag (#tacotruckify)

Make a super simple metrics page that shows trucks and clicks.

[2016-09-10 18:47] kielni opened #50 "testing! (not ready to go yet)"
things to test:
- how does overall layout, alignment, text, etc look?
- do instructions make sense? do you know what to do?
- click Donate
- click Facebook share (but don't complete share)
- click Tweet (but don't actually tweet)
- place truck and save
- does after-save message look ok?
- do you get another truck to place?

Checklist
- [ ] Windows IE
- [ ] Windows Firefox
- [ ] Windows Chrome
- [

[2016-09-10 19:02] silasmeredith opened #51 "Pure white trucks can't be seen well on map"
I like the idea of blue and white trucks. But the pure white is nearly invisible. Can we add a solid line around the outside?

Apologies if this is a duplicate ticket.

[2016-09-10 19:04] #44 closed, assigned to nobody

[2016-09-10 19:05] silasmeredith opened #52 "Donation link should have "source=tacotruckparty""
Updated link:

https://www.hillaryclinton.com/donate/?amount=3.00&utm_source=tacotruckparty

[2016-09-10 19:09] silasmeredith commented on #43
Looks like this is working on mobile and desktop. Awesome!

[2016-09-10 19:09] #43 closed, assigned to nobody

[2016-09-10 19:10] silasmeredith opened #53 ""Donate" and "Share" buttons should persist when saved truck is dragged"
The "Donate" and "Share" buttons are the core of what we're doing here. Currently, they disappear as soon as a saved truck is dragged. Let's keep them in the popup, but add a saved button below them if the truck is dragged.

[2016-09-10 19:15] AaronSofaer opened #54 "Add Favicon"
Currently, there's no favicon. This means that in OSX Chrome, the tab won't have a neat little taco truck icon!

Also, it's a 404 in the console and it's untidy.

[2016-09-10 19:16] AaronSofaer opened #55 "When dragging Taco Truck, there's an "close" X in the top left..."
... which obviously cannot be interacted with, because the icon is being dragged at the time that it's visible. We shouldn't be rendering the X.

[2016-09-10 19:21] silasmeredith commented on #23
@nathanaelphilip , it's best I think to put this in the popup, with the Donate, Facebook, and Twitter buttons.

[2016-09-10 19:21] silasmeredith commented on #18
Yep, looks good to me. Thanks!

[2016-09-10 19:21] #18 closed, assigned to nathanaelphilip

[2016-09-10 19:24] silasmeredith opened #56 "Apply new design styles"
![screen shot 2016-09-10 at 2 51 58 pm](https://cloud.githubusercontent.com/assets/22085972/18412999/915647fc-776a-11e6-99d1-47f8f0e36a4c.png)

[2016-09-10 19:33] jjandoc commented on #14
I can implement custom images for this if there's any in particular people would like to use.

[2016-09-10 19:47] #1 closed, assigned to JaneRuby

[2016-09-10 19:47] kielni commented on #14
I think this is good for now.

[2016-09-10 19:47] #14 closed, assigned to jjandoc

[2016-09-10 19:48] #16 closed, assigned to jillh510

[2016-09-10 19:49] kielni commented on #50
not quite ready for help testing yet, will add tag back when it is

[2016-09-10 19:50] AaronSofaer opened #57 "Uncaught TypeError in console for Windows-Chrome"
In Windows Chrome, but not in OSX Chrome, there's the following Type Errors in the console upon loading the page (the first one) and submitting a truck (the second one):

https://www.dropbox.com/s/tog0nw5o0fx7bbm/typeerrors.jpg?dl=0

[2016-09-10 19:50] kielni commented on #25
@silasmeredith we can add this whenever you write the text/find the link; the icon source won't change
you can leave it unassigned with help wanted tag for anyone to claim

[2016-09-10 19:50] kielni commented on #54
duplicate of https://github.com/DevProgress/more-tacos/issues/41

[2016-09-10 19:50] #54 closed, assigned to nobody

[2016-09-10 19:52] kielni commented on #53
I think they're kinda big to keep in the info window that gets dragged around; they're always available from the top right of the map; is that enough?

<img width="157" alt="screen shot 2016-09-10 at 12 51 37 pm" src="https://cloud.githubusercontent.com/assets/1649528/18413185/693385ec-7755-11e6-954c-53515769b618.png">

[2016-09-10 19:58] kielni commented on #30
directions in truck tooltip: Arrastra el camión de tacos, luego haz clic en 'Save'

[2016-09-10 20:09] silasmeredith commented on #16
Awesome, works like a charm now!

[2016-09-10 20:13] silasmeredith opened #58 "Tweak initial popup text, so that it makes sense to a user following a lat/lon link"
The resolution of #16 uncovered a new issue: when a user follows a link they receive to a specific truck, it just says "Drag the taco truck..." I think a little additional text could make a lot more sense for this user, without confusing the user who comes to the site without a lat/lon link:

Replace "Drag the taco truck, then click 'Save' " ...

...with "Your very own (virtual) taco truck! Make a

[2016-09-10 20:19] silasmeredith commented on #25
Let's use this:

“Taco truck icon build by Jane Ruby out of some awesome icons:  ICONNAME(LINK) by Focus Lab and ICONNAME(LINK) by John Caserta, from the Noun Project"

@JaneRuby , can you send the Icon Name, as well as the link, to each of the 2 icons? Many thanks!

[2016-09-10 20:25] silasmeredith commented on #53
What if after saving we showed "Donate," "Facebook," "Twitter," and copyable text; and once it's dragged again, we show "Donate," "Facebook," "Twitter," and "Save." That way, we greatly cut down the size of the popup when the user is trying to place it, but still keep "Donate" and share buttons prominent.

[2016-09-10 21:00] nathanaelphilip opened #60 "active truck needs to always be in the foreground, in front of existing trucks, and in front of clusters"
Fix Z-Index Issue with Clusters
http://stackoverflow.com/questions/10243855/google-maps-render-marker-above-markerclusterer

[2016-09-10 21:16] silasmeredith opened #61 "Every click/tap on map, update active truck location to there"
User feedback: user ignored the location popup (so she started in D.C.), and ignored the instructional popup (so she didn't know what to do). So she navigated to NYC, but then had no way to add a truck, because the truck was back in D.C. Many, maybe most, of our users will do this.

Let's automatically move the active truck to anywhere you click/tap on the screen.

[2016-09-10 21:48] silasmeredith commented on #58
Spanish text:

Tu propio (virtual) camión de tacos! Haz un nuevo camión para un amigo : arrastra el camión, luego haz clic en "Save"

[2016-09-10 22:00] jillh510 commented on #58
Fixed with 5fdca04

[2016-09-10 22:00] #58 closed, assigned to jillh510

[2016-09-10 22:02] kielni commented on #49
a6e2d9571c621bce86f

[2016-09-10 22:02] #49 closed, assigned to kielni

[2016-09-10 22:05] kielni commented on #53
👍

[2016-09-10 22:11] silasmeredith opened #64 "When following a lat/lon link, it should ask to go to users actual location. It should skip that step, and go to the lat/lon link, because that's the whole point of sharing."

[2016-09-10 22:11] silasmeredith opened #65 "The shareable text is there in the popup after clicking save, but still doesn't contain the link, which is the whole point."

[2016-09-10 22:11] silasmeredith opened #66 "The active truck needs to always be in the foreground, in front of existing trucks, and in front of clusters"

[2016-09-10 22:11] silasmeredith opened #67 "With Spanish, that's a LOT of text. We either need to space it out, or keep it to just English. The user I talked to didn't even read the 6-word version; she definitely won't read two paragraphs."

[2016-09-10 22:12] silasmeredith opened #68 "Facebook and Twitter buttons have been replaced with plain hyperlinked text "Tweet" and "Share". Correct to assume that there's a plan in place for putting this back?"

[2016-09-10 22:14] jillh510 commented on #64
Can you provide the URL that went to the user's location rather than the lat/long location? (this behavior can happen if there's a problem with parsing the lat/long)

[2016-09-10 23:11] kielni commented on #56
@mattrothenberg can you add
- link to how to use the TacoTruck.Party font
- hex color code for TacoTruck.Party text
- hex color code for background

[2016-09-10 23:27] nathanaelphilip commented on #68
I did this so that we could update the share links without having to refresh the buttons. They just need to be styled, but I can handle that.

[2016-09-10 23:27] nathanaelphilip commented on #67
I’m just going to remove the Spanish for now.

[2016-09-10 23:27] nathanaelphilip commented on #66
This is a duplicate of #60

[2016-09-10 23:28] nathanaelphilip commented on #55
I don’t see this in Chrome. Is there a specific browser you’ve tested this in? Can you upload a screenshot?

[2016-09-11 00:12] nathanaelphilip commented on #60
This is a little above my pay grade. @jjandoc would you mind looking into it?

[2016-09-11 00:15] nathanaelphilip commented on #55
I see it now. Will remove the X.

[2016-09-11 00:22] nathanaelphilip commented on #68
Fixed in PR #69.

[2016-09-11 00:22] #68 closed, assigned to nathanaelphilip

[2016-09-11 00:22] nathanaelphilip commented on #67
Removed all Spanish. Fixed in PR #69.

[2016-09-11 00:22] #67 closed, assigned to nathanaelphilip

[2016-09-11 00:23] nathanaelphilip commented on #55
Fixed in PR #69.

[2016-09-11 00:23] #55 closed, assigned to nathanaelphilip

[2016-09-11 00:23] nathanaelphilip commented on #41
Added the Active Truck as Favicon. Fixed in PR #69.

[2016-09-11 00:23] #41 closed, assigned to nathanaelphilip

[2016-09-11 00:23] nathanaelphilip commented on #52
Fixed in PR #69.

[2016-09-11 00:23] #52 closed, assigned to nathanaelphilip

[2016-09-11 00:23] nathanaelphilip commented on #65
This has been fixed. Fixed in PR #69.

[2016-09-11 00:23] #65 closed, assigned to nobody

[2016-09-11 00:24] nathanaelphilip commented on #53
this has been fixed in #69

[2016-09-11 01:51] kielni commented on #64
This is fixed; does not attempt geolocation if lat/lng in URL.

[2016-09-11 01:51] #64 closed, assigned to kielni

[2016-09-11 02:02] kielni commented on #57
Googling the filename says that's from a browser extension (ie not the Taco Truck page)

https://www.reasoncoresecurity.com/vapi-client.js-23cdb391a53e1d10fb83a37493c93af38180e119.aspx

[2016-09-11 02:02] #57 closed, assigned to nobody

[2016-09-11 04:24] JaneRuby commented on #51
just committed an edit with a thin black outline to the images folder

[2016-09-11 14:56] kielni commented on #51
Thanks, updated.

[2016-09-11 14:56] #51 closed, assigned to nobody

[2016-09-11 15:05] kielni commented on #26
https://devprogress.us/more-tacos/images/preview.png
<img width="449" alt="screen shot 2016-09-11 at 8 01 28 am" src="https://cloud.githubusercontent.com/assets/1649528/18418180/71b670fc-77f6-11e6-86bb-41c7f889f7fa.png">

[2016-09-11 15:17] jillh510 commented on #26
Maybe unimportant, but the text someone would see after following a link with a location hash (which is what I believe is posted to FB), is this: "Your very own (virtual) taco truck! Make a new truck for a friend: drag the truck, then click 'Save'."

[2016-09-11 16:58] silasmeredith commented on #23
@nathanaelphilip , I might be missing something, but I think we're still in the same spot we were before: the text is there, but the link is not. We either need to print the link, or hyperlink the whole thing with the lat/lon link.

[2016-09-11 17:01] silasmeredith commented on #45
Not sure why this one was closed; maybe there was a branch that hasn't gotten merged yet. But the Facebook link still goes to the generic link, not the lat/lon link: https://devprogress.us/more-tacos/

[2016-09-11 17:01] nathanaelphilip commented on #23
@silasmeredith http://quick.as/j2GQim44B Is that not what you’re talking about?

[2016-09-11 17:22] silasmeredith opened #72 "Clustering not working"
Here's Columbus Circle from above (near-ish to 1745 Broadway, New York, NY)
![screenshot 2016-09-11 at 1 13 50 pm](https://cloud.githubusercontent.com/assets/22085972/18419149/9e17a2ca-7822-11e6-8373-2ceefd8c6ed2.png)

Here's the same area zoomed in:
![screenshot 2016-09-11 at 1 15 09 pm](https://cloud.githubusercontent.com/assets/22085972/18419150/9e1934c8-7822-11e6-95bc-ddec7a9bbbd4.png)

All th

[2016-09-11 17:26] #61 closed, assigned to nobody

[2016-09-11 17:26] silasmeredith commented on #53
Hmmmm, same question as the other resolved tickets from last night: is there a branch out there that hasn't been merged yet? I'm not seeing the functionality on the front-end. Re-posting the goal here:

After clicking "Save," the popup contains buttons for "Donate," "Facebook," "Twitter," and copyable text (including lat/lon link); and once the truck is dragged again, the popup shows "Donate," "Fa

[2016-09-11 17:30] silasmeredith commented on #25
Whoops, we forgot ", from the Noun Project." Whole text: "Taco truck icon build by Jane Ruby using
Truck by John Caserta and Taco by Focus Lab, from the Noun Project."

Also: is there a reason we put the open source link at the bottom? I thought we didn't want people outside of DevProgress involved in building this.

Thanks!

[2016-09-11 17:32] silasmeredith commented on #23
After saving, the text should read:

“Tell your friend: ‘Hey! I just put a (virtual) taco truck on the map for you. Hopefully, when the taco truck invasion happens, they’ll put a real taco truck there! https://devprogress.us/more-tacos/#40.72122548672435_-73.95179580356906_18’ ”

[2016-09-11 17:38] silasmeredith commented on #66
Not sure how this is a duplicate of #60 . This may just be because of my own ignorance. FOr now, I'd like to keep this one open, because we need a record of the issue that the USER experiences. If they're linked, we can close them at the same time.

[2016-09-11 17:57] kielni opened #73 "markers don't uncluster"
click on clustered marker (with number)
zooms to bounds but markers not visible

![sep-11-2016 10-52-01](https://cloud.githubusercontent.com/assets/1649528/18419372/fba4c4fa-780d-11e6-87a4-22f842840c51.gif)

[this code in markercluster](https://github.com/googlemaps/js-marker-clusterer/blob/gh-pages/src/markerclusterer.js#L989) hides the cluster icon; not sure why the markers aren't visible.

[cod

[2016-09-11 18:02] kielni commented on #73
really helps if the icon actually exists!

[2016-09-11 18:02] #73 closed, assigned to kielni

[2016-09-11 18:28] kielni commented on #72
fixed by actually checking in the icon: https://github.com/DevProgress/more-tacos/commit/902ba04bf44c65cb8cbf58d8ce4540b55e0594e9

[2016-09-11 18:28] #72 closed, assigned to nobody

[2016-09-11 18:32] kielni commented on #25
if they're not in the DevProgress github org, it works like this:
- click Fork on top right (this gets them their own copy of the code)
- do stuff with local copy
- push changes to user's version
- open PR against this repo
- someone in DevProgress reviews change and accepts/rejects/requests changes

I think we do want to invite anyone to take a look and contribute; we can choose what to accept/re

[2016-09-11 18:34] kielni commented on #25
fixed by https://github.com/DevProgress/more-tacos/commit/7b49a16ab3664d

[2016-09-11 18:34] #25 closed, assigned to kielni, JaneRuby

[2016-09-11 19:00] kielni commented on #66
Yes, definitely a duplicate.  I'll copy the text from this one over there since this one is more English-y and less code-y.

[2016-09-11 19:00] #66 closed, assigned to nobody

[2016-09-11 20:29] silasmeredith commented on #25
@kielni , that makes sense. Thanks for explaining!

[2016-09-11 23:59] kielni opened #76 "update favicon to latest blue truck"
<img width="586" alt="screen shot 2016-09-11 at 4 58 31 pm" src="https://cloud.githubusercontent.com/assets/1649528/18421510/13808e8c-7841-11e6-9487-b86e2d2ae835.png">

update to images/marker_truck_blue.png

[2016-09-12 03:36] kielni commented on #56
notes from @JaneRuby

Google font for headline

![Google font for headline](https://cloud.githubusercontent.com/assets/1649528/18423969/36889992-785f-11e6-9354-5618cae550f9.jpg)

#F44336  is standard red, maybe for the title
#1A237E  is a deeper blue, it is from a different blue strain than the button we have, so I think it could work

change the large red text to black and use the dark blue for t

[2016-09-12 03:38] kielni commented on #7
fixed by https://github.com/DevProgress/more-tacos/pull/75

[2016-09-12 03:38] #7 closed, assigned to decause

[2016-09-12 03:39] #60 closed, assigned to jjandoc, kielni

[2016-09-12 03:43] kielni opened #78 "always keep active truck marker info window open"
Clicking on an element in the map (like a Metro station) will open an info window for that, and close the active truck info window.  After that, there's no way to get the info window with the save button back.

[2016-09-12 03:52] #78 closed, assigned to nobody

[2016-09-12 03:56] silasmeredith opened #79 "Website no longer asks for current location; always defaults to Washington D.C."
As before, it should ask for permission to view current location, and go there if they say yes.

Caveat: as before, it should NOT ask this if following a lat/lon link. In that case, it should go directly to that lat/lon.

[2016-09-12 03:58] #76 closed, assigned to nobody

[2016-09-12 04:00] silasmeredith opened #80 "Facebook sharing should have some default text"
"I just sponsored a virtual taco truck. You can, too. Save The Tacos. http://tacotruck.party/#38.867760391067314_-77.18383637677005_13 #ImWithHer #TacoTruckParty"

[2016-09-12 04:02] silasmeredith commented on #26
Apologies if I'm messing up our new process by re-opening this, but I'm still not seeing this at TacoTruck.Party. When I click "Facebook," there's no image. If this is accounted for in another ticket, please speak up. I just wanted to make sure that, until it's live, we have a ticket open for it. Thanks!

[2016-09-12 04:14] kielni commented on #79
This is probably a user settings issue; which browser?  If you click allow location: Never it won't ask you again, and will go to the default location.

[2016-09-12 04:16] silasmeredith commented on #79
I experienced this on two devices (Chromebook and Windows laptop), both in Chrome, both after having cleared all cache for all time. So I think it's really a bug.

[2016-09-12 13:37] kielni commented on #26
updated image and pushed; waiting for cache to clear

see Facebook share preview test tool https://developers.facebook.com/tools/debug/sharing/?q=tacotruck.party

[2016-09-12 16:02] silasmeredith commented on #26
@kielni , this is looking great, many thanks! Can we exclude the popup from the Facebook image? It's a little confusing.

[2016-09-12 16:04] silasmeredith opened #82 "Facebook/Twitter post is being blocked by security"
![2016-09-12_12-03-33](https://cloud.githubusercontent.com/assets/22085972/18443021/1c1261ec-78e1-11e6-8cb2-df5c930c6e1b.jpg)

[2016-09-12 16:08] JaneRuby commented on #56
<img width="785" alt="screen shot 2016-09-11 at 9 08 37 pm copy" src="https://cloud.githubusercontent.com/assets/19919252/18443166/a4d3d664-78e1-11e6-848b-42af15dfa6fb.png">

[2016-09-12 16:09] JaneRuby commented on #56
<img width="785" alt="mock up" src="https://cloud.githubusercontent.com/assets/19919252/18443195/c674b856-78e1-11e6-81b0-b47691b212eb.png">

[2016-09-12 16:10] JaneRuby commented on #56
^new mockup, with additional changes discussed with Kimberly

[2016-09-12 16:31] jillh510 commented on #79
I also saw this issue in an incognito Chrome window, until I went to Chrome settings->Privacy->Location->Manage Exceptions and explicitly removed the permission I'd given previously for the site.

[2016-09-12 16:58] jillh510 commented on #45
Looks like anything past the hashmark is stripped by FB: http://stackoverflow.com/questions/29600877/facebook-share-url-having-hash

[2016-09-12 17:02] kielni commented on #82
did you click the 'let us know' link? I have no idea what it it doesn't like.

[2016-09-12 17:04] kielni commented on #82
from https://developers.facebook.com/tools/debug/sharing/?q=http%3A%2F%2Ftacotruck.party

![screen shot 2016-09-12 at 10 03 49 am](https://cloud.githubusercontent.com/assets/1649528/18444966/3c226308-78d0-11e6-8adc-e0c0317314b2.png)

[2016-09-12 17:06] silasmeredith commented on #79
Hmmm, I'm getting this on Chrome, in incognito mode. It's set to "ask" for locations, with no exceptions, and it still defaults to D.C. In fact, I changed it to "allow," and still defaults to D.C.

What are you seeing on your browsers? Does it go to your currently location?

Thanks for following up with this!

[2016-09-12 17:08] jillh510 commented on #79
I'm seeing a more serious problem in the console: "getCurrentPosition() and watchPosition() no longer work on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details."

Can we serve via https?

[2016-09-12 17:16] kielni commented on #80
Facebook says no: https://developers.facebook.com/docs/apps/review/prefill
![screen shot 2016-09-12 at 10 16 14 am](https://cloud.githubusercontent.com/assets/1649528/18445340/f716f95c-78d1-11e6-9243-e3cad2ca9054.png)

[2016-09-12 17:19] rachavez commented on #79
OS X El Cap (10.11.6) running Safari 9.1.3: the website defaults to WDC, but does ask if I would like to use my default location. I say yes, and the map changes, as it should.

[2016-09-12 17:23] rachavez commented on #79
Same behavior happens with Firefox (48.0.2) - WDC appears first, but I'm asked to use my location. I agree and map changes.

However, this does not happen with Chrome (52.0.2743, but updating soon). No request to use default location, but the URL does show my lat/lon. Why it does not autoupdate I don't know.

[2016-09-12 17:33] mattrothenberg commented on #56
That looks fine to me @JaneRuby. I think there's a color contrast issue between the grey text and the light background color underneath the map, though. I also don't think that shade of red meshes well with the color scheme.

[2016-09-12 18:05] jillh510 opened #83 "What to do if Google Maps API usage limits are exceeded"
The free tier for the Google Maps Javascript API has daily usage limits (25,000 map loads). Post initial launch, we should have a plan for the site if we exceed those limits. Some options:
- An error screen ("Whoops, too many taco trucks today!")
- Use a non-Google API mapping solution. Decause says: "the good news is, is that we have a #peeps-gis team, and the #proj-eventsmap team has done a non-

[2016-09-12 18:12] #80 closed, assigned to nobody

[2016-09-12 18:25] JaneRuby commented on #56
Yeah Matt, I did the mock up really quickly and didn't fix that. Kimberly
knows about it and will adjust it.

On Mon, Sep 12, 2016 at 1:33 PM, Matt Rothenberg notifications@github.com
wrote:

[2016-09-12 18:31] JaneRuby commented on #56
#D50000
#B71C1C
#C62828

^these are other possible red shades that could work.

[2016-09-12 19:46] silasmeredith commented on #80
Darn! OK, thank you for checking, @kielni .

[2016-09-12 20:48] mattrothenberg commented on #56
Awesome, thanks!

[2016-09-12 21:48] JaneRuby commented on #56
![mock up](https://cloud.githubusercontent.com/assets/19919252/18454203/0941dff4-7911-11e6-8e2b-0d28b479781e.png)

another design thought to deal with the awkward space.

[2016-09-12 23:56] kielni commented on #45
@nathanaelphilip, looks like we've reached the point where we need that routing lib; can you drop it in?

[2016-09-12 23:57] kielni commented on #45
need real URLs for https://github.com/DevProgress/more-tacos/issues/82

[2016-09-13 00:20] nathanaelphilip commented on #82
/lat/{lat}/lng/{lng} ok ?

[2016-09-13 00:40] kielni commented on #53
<img width="323" alt="screen shot 2016-09-12 at 5 39 33 pm" src="https://cloud.githubusercontent.com/assets/1649528/18457735/ea2c4466-790f-11e6-8483-184defbe65e8.png">

I think it's a little big; what do you think?

[2016-09-13 00:54] kielni commented on #82
I merged it but it looks like somewhere is still adding the hash
Can we use single letters for the param names? The long lat/lng value taking up most of the tweet character count.  I know they shorten it but it looks like the popup is counting the full length.

<img width="517" alt="screen shot 2016-09-12 at 5 54 06 pm" src="https://cloud.githubusercontent.com/assets/1649528/18457973/ef7aa29e-7911

[2016-09-13 01:06] Eyas commented on #82
@kielni I looked into this but it seems it only happens locally because it fails to parse the URL as a URL. Try adding a `.com` after `localhost` in the twitter box and you will see the character count go back to normal :)

[2016-09-13 01:54] mattrothenberg commented on #56
FWIW, I actually prefer it underneath the **TacoTruck.Party** logo. Since it's the tagline and all...

[2016-09-13 02:04] silasmeredith commented on #82
Just for housekeeping, I updated the title of this issue to refer to both Facebook and Twitter. The Facebook issue seems to be solved (works for me, anyway), but we still need to figure out Twitter.

Currently, the lat/long link included in the Twitter share is the default lat/long, not the specific lat/long.Is that the issue that y'all are discussing above? If not, let me know so I can open a sep

[2016-09-13 02:08] silasmeredith commented on #79
Yeah, it works on Safari on my iPhone, and Chrome on my iPhone.

So it looks like where we're at is that it mostly works on most browsers, except for Chrome on Windows desktop. Is that accurate? If that's the case, that lowers the priority level on this bug, though it would still be nice to fix.

[2016-09-13 02:10] JaneRuby commented on #56
@mattrothenberg if that's the case (totally fine with it, then something need to happen with the black color text. Regardless I think the content needs to be re-worked, so maybe that will be good incentive?

[2016-09-13 02:12] silasmeredith commented on #53
I like the way it's working now!

The big popup is clunky, it's true, but it wouldn't be that much less clunky without the donate/facebook/twitter buttons. I just really don't want that message (donate and share!) to get lost, and I think few people will use the buttons in the corner of the map.

Is there another way of keeping the Donate and Share! message prominent without the big popup?

[2016-09-13 02:17] silasmeredith commented on #45
This actually seems to be working right in Facebook: I was able to post (to "Only Me" of course) and follow the link, and it worked.

Only Twitter seems to be going to the default location (D.C.) instead of the specific lat/long link. Are other people seeing the same thing? (Careful if you post to Facebook! Always post to "Only Me" for now!)

[2016-09-13 02:19] silasmeredith commented on #26
Hmmm, actually now it's just giving an image of the default location, not of the specific lat/long link, which is going to be the hook for getting people's attention on Facebook. Was it working this afternoon, or did I just happen to test it on the default location? Silly me.

[2016-09-13 02:24] jillh510 commented on #79
It's a tough one for sure. Seems that it works properly on Chrome if there's no entry in the Privacy->Locations list for tacotruck.party, and I open a new window (in other words, if I remove the entry in Settings, and then open a new _tab_, I get the wrong behavior) and I use https.

And in other bizarreness, the console warning is gone with https, but appears intermittently when I go to http://ta

[2016-09-13 02:30] silasmeredith commented on #79
The majority of people will only visit the site once, so if it's working on the first time on Chrome, and working all the time on all other browsers, I think we're fine. I'll label this ticket as "enhancement" to indicate that it is not a blocker for 1.0 release.

Good investigating!

[2016-09-13 02:36] silasmeredith opened #88 "When we're ready for release, clear database of trucks"

[2016-09-13 02:37] silasmeredith opened #89 "Open new tab when sharing on Facebook"

[2016-09-13 02:37] silasmeredith opened #90 "Open new tab when clicking hyperlinked "warned" in intro paragraph"

[2016-09-13 02:38] silasmeredith opened #91 "When dragging truck, the X used to be at the front (left) of the truck. Now it's on top, and it's a bit confusing. Can we move it back to the left?"

[2016-09-13 02:38] silasmeredith opened #92 "Button spacing (Donate / Facebook / Twitter) not quite right in popup after saving, and again after dragging"

[2016-09-13 02:43] silasmeredith commented on #26
@kielni , definitely tell me if I'm missing something (like a branch that hasn't been merged yet), but even after clearing cache I'm still seeing the default location in the image, not the specific lat/long location.

[2016-09-13 03:25] kielni commented on #26
The Facebook image has to be a static image.  It doesn't crawl the page and make a live screenshot.  We can choose a different location if you want, but it will always show the same image (unless we update it).

[2016-09-13 03:28] silasmeredith commented on #26
Darn! OK, then let's let's make our one image count. What about the same location (White House lawn), but with no other trucks except the main truck, and no popup?

[2016-09-13 03:33] kielni commented on #45
Both Twitter links (top right and after save) look good to me.

<img width="843" alt="screen shot 2016-09-12 at 8 31 34 pm" src="https://cloud.githubusercontent.com/assets/1649528/18460643/0cdd1e46-7928-11e6-92f9-02c15195d9e8.png">

If it's not working for you, can you paste in a screenshot of the Twitter popup?

[2016-09-13 03:38] kielni commented on #23
Earlier, I changed the text to "I just sponsored a virtual taco truck. You can, too. Taco trucks on every corner." for consistency with the rest of the text.  I find "invasion" a little over the top maybe, and we don't use that anywhere else.  What do you think?

[2016-09-13 03:38] silasmeredith commented on #45
Alright, it's working for me now!

Any reason not to close this ticket?

[2016-09-13 03:39] kielni commented on #82
Twitter is working for me; https://github.com/DevProgress/more-tacos/issues/45 covers it so this one can be closed.

[2016-09-13 03:39] #82 closed, assigned to nobody

[2016-09-13 03:40] kielni commented on #88
I really don't think we should; we want to to look crazy and fun for the very first non-tester person.  They were all individually human placed, so why delete them?

[2016-09-13 03:41] kielni commented on #89
Its does open a new tab for me on Mac Firefox and Safari; what OS and browser did you see it not open a tab?

[2016-09-13 03:42] silasmeredith commented on #88
I could see it either way. Want to add your comment to the slack channel and see what people think?

[2016-09-13 03:42] kielni commented on #45
nope!

[2016-09-13 03:42] #45 closed, assigned to nobody

[2016-09-13 03:43] kielni commented on #53
Not that I want to attempt before launch.  They could go in a custom overlay but that's a pain because we'd have to write code to keep it in sync with the marker.

[2016-09-13 03:43] #53 closed, assigned to nobody

[2016-09-13 03:43] silasmeredith commented on #23
Agreed, no "invasion."

This conversation is happening several places, so let's move this to the slack channel for now.

[2016-09-13 03:50] jillh510 commented on #88
I'd assumed we'd ask a bunch of other Dev Progress folks to play around with it before we do any publicity, which should get us initial data. (or maybe I'm overly paranoid that my test trucks, which are sprinkled around randomly, will look silly)

[2016-09-13 03:54] silasmeredith commented on #88
True, though they'll probably do the same stuff we did. Except, I suppose, sprinkle trucks in the parks of Eugene, OR.    ;)

[2016-09-13 03:54] silasmeredith commented on #88
We also don't have to decide this tonight.

[2016-09-13 03:57] silasmeredith commented on #89
It's not opening a new tab in:

Chrome on Windows laptop
Safari on iPhone
Chrome on iPhone
Chrome on Chromebook

[2016-09-13 04:00] silasmeredith commented on #56
Design live at TacoTruck.Party is looking good! If there's anything you want to change, definitely speak up; we're nearly ready for a DevProgress internal release.

[2016-09-13 04:01] #92 closed, assigned to nobody

[2016-09-13 04:06] silasmeredith commented on #90
Hmmmm, still not opening in a new tab on my broswers (same device/browser list as #89).

Does it take time to propagate to the live site?

[2016-09-13 04:08] kielni commented on #90
Do a shift-reload to make sure you're getting the latest; I just tried it and it worked for me.

[2016-09-13 04:08] #90 closed, assigned to nobody

[2016-09-13 04:09] silasmeredith commented on #90
OK, working now!

[2016-09-13 04:13] JaneRuby commented on #56
@silasmeredith i think the content writing is still throwing me off. Too much repetition. Totally up to you, but possible changes I would do:

Slogan: "Make #TacoTrucksOnEveryCorner a reality."

Text body: "When a Trump supporter warned that unchecked immigration would lead to taco trucks on every corner, we thought that sounded fantastic! Help us make this American dream an American reality -- pl

[2016-09-13 04:13] silasmeredith commented on #91
This one isn't working for me yet. I tried the same Shift-Reload trick, but no dice. Sorry to keep re-opening tickets; definitely let me know if I'm doing something wrong.

[2016-09-13 04:18] silasmeredith commented on #56
I like it! I just added quotes around the quote, and removed the word "unchecked" (on the off chance someone takes this to mean that Hillary Clinton supports unchecked immigration). @kielni @jillh510 @nathanaelphilip or others, can we tweak this? After that, are there any other design tweaks, or should we close this ticket?

Slogan: "Make #TacoTrucksOnEveryCorner a reality."

Text body: "When a Tr

[2016-09-13 04:23] jillh510 commented on #56
I'm monkeying with text at the moment and can take care of this.

[2016-09-13 04:25] JaneRuby commented on #56
Matt had proposed the idea of altering the red tone to fit better. I could go either way on it, but mocked up some other color options (really quickly and roughly), just to put the idea out there to others...
![d50000](https://cloud.githubusercontent.com/assets/19919252/18461525/807e3e50-7948-11e6-8690-d46223229dad.png)
![ef5350](https://cloud.githubusercontent.com/assets/19919252/18461526/80816c4

[2016-09-13 04:25] JaneRuby commented on #56
Also I tested it with blue, just in case:
![1976d2](https://cloud.githubusercontent.com/assets/19919252/18461532/90536a62-7948-11e6-8be2-7fe60ff8d054.png)

[2016-09-13 04:25] JaneRuby commented on #56
feel free to say yay or nay, just wanted to be thorough

[2016-09-13 04:31] silasmeredith commented on #26
How about this?
- single truck (no extra trucks / clusters)
- no popup
- on or near the White House
- the words "White House" from the map should be obvious in the image

[2016-09-13 04:33] silasmeredith commented on #56
I think it looks good as is, but if y'all feel strongly about one of these, speak up, you know a lot more about design than I do!

[2016-09-13 04:34] JaneRuby commented on #56
@silasmeredith I would like to see a version with the text edits, and then I can make a "judgement call", if that's what we will call it... lol

[2016-09-13 04:35] silasmeredith commented on #56
Okee doke! @JaneRuby can you coordinate with @jillh510 ?

[2016-09-13 04:36] JaneRuby commented on #56
yup!

[2016-09-13 04:38] silasmeredith commented on #23
After Slack discussion:

"Tell your friends: "Hey, check out my new (virtual) taco truck!"

[2016-09-13 05:14] kielni commented on #91
this is what I get on tacotruck.party; how does that look?

<img width="335" alt="screen shot 2016-09-12 at 10 13 45 pm" src="https://cloud.githubusercontent.com/assets/1649528/18462343/36d9cd80-7936-11e6-84ff-c543e629018a.png">

[2016-09-13 05:15] kielni commented on #88
I made a copy, then cleared the trucks.

[2016-09-13 05:15] #88 closed, assigned to nobody

[2016-09-13 05:21] kielni commented on #26
#1 (zoom 15)
<img width="600" alt="fb_preview1" src="https://cloud.githubusercontent.com/assets/1649528/18462437/249e0824-7937-11e6-853d-77132cf6cc99.png">

#2 (zoom 16)
<img width="600" alt="fb_preview2" src="https://cloud.githubusercontent.com/assets/1649528/18462439/2799719e-7937-11e6-8fe5-22029cbd4237.png">

[2016-09-13 12:25] silasmeredith commented on #91
Perfect, thanks @kielni !

[2016-09-13 12:25] #91 closed, assigned to nobody

[2016-09-13 12:27] silasmeredith commented on #26
Both look good! I'd vote for #1.

[2016-09-13 16:16] kielni opened #96 "donate button colors should match"
![button_colors](https://cloud.githubusercontent.com/assets/1649528/18481853/ad5857b8-7992-11e6-8d25-1fdbe73cc4ee.png)

The Donate button on the top right of the map is a slightly different blue than the Donate button in the after-save popup.

[2016-09-13 16:20] kielni commented on #23
looks fixed to me

[2016-09-13 16:20] #23 closed, assigned to jillh510

[2016-09-13 17:00] silasmeredith commented on #26
Thanks, @kielni ! On desktop, the new image shows up when I post to "Only Me" on Facebook, so we're getting closer. But in my mobile feed, it's still the old image. Any reason why it would send a different image to mobile and to desktop versions of Facebook?

To be clear, I shared from desktop, then looked at my feed on mobile.

[2016-09-13 18:47] silasmeredith opened #97 "Tweak popup text / buttons"
Before saving:
"Your very own (virtual) taco truck! Drag the truck, then..."
[SPONSOR]

After saving:
"I just sponsored a  taco truck at tacotruck.party/"
(automatically opens donation tab)
[FACEBOOK]  [TWITTER]

After redragging:
[SPONSOR]

[2016-09-13 20:12] #96 closed, assigned to nobody

[2016-09-13 20:19] kielni commented on #26
Looks like Facebook was caching it; I updated the filename to force a reload. How does it look now?

[2016-09-13 20:19] kielni commented on #89
Can you reproduce now?

[2016-09-13 20:19] kielni commented on #97
pushed

[2016-09-13 20:29] silasmeredith commented on #26
Perfect. Thank you!

[2016-09-13 20:29] #26 closed, assigned to nobody

[2016-09-13 20:30] silasmeredith commented on #89
This is working, too! Excellent news.

[2016-09-13 20:30] #89 closed, assigned to nobody

[2016-09-13 20:50] silasmeredith commented on #97
Whoops, mostly done, but one very important part still missing: anytime user hits the [SPONSOR] button, a new tab should open to the HFA donation page. This should happen whether it's the first time the user hits [SPONSOR], or a later time.

[2016-09-13 20:53] jillh510 commented on #79
The issue is much improved with the redirection from http -> https. Most users report no problems.

At least one user reported an issue with Chromium on Linux, a 403 from the Google APIs. That same user saw problems with Chrome and FF.

The Chromium issue may be explained by this page (executive summary: if you're building your own Chromium, getting Google APIs, esp. the location finder) to work i

[2016-09-13 20:55] silasmeredith commented on #79
Okee doke. So are we saying that this bug is "fixed enough" to no longer be a release blocker?

[2016-09-13 20:56] jillh510 commented on #79
Anyone who builds their own browser from open-source should be able to figure out how to copy-paste a URL. So I think we're good for launch.

[2016-09-13 20:57] silasmeredith commented on #79
OK!

[2016-09-13 20:57] #79 closed, assigned to nobody

[2016-09-13 23:41] #97 closed, assigned to nobody

[2016-09-14 16:20] AaronSofaer opened #100 "Anchoring on trucks non-obvious or malformed in some cases"
Request from a user:

[2016-09-14 16:31] mschempp commented on #100
Before and after of resulting truck. You have to zoom in quite a bit to avoid clipping other landmarks.
![before](https://cloud.githubusercontent.com/assets/22200113/18520736/b71d1126-7a6e-11e6-80f3-47d326fcefbc.PNG)
![after](https://cloud.githubusercontent.com/assets/22200113/18520737/b999a004-7a6e-11e6-891c-59fb9fadadbb.PNG)

[2016-09-15 04:22] kielni commented on #100
This was caused by the change for https://github.com/DevProgress/more-tacos/issues/91
The x is where the center of the truck will go on click, so it needs to match the center of the truck. I can remove the x or change it: http://stackoverflow.com/questions/21371062/how-to-change-the-cross-below-the-marker-google-map-v3. What do you think @silasmeredith ?

[2016-09-15 12:17] silasmeredith commented on #100
I do like having some indicator or where the truck will be placed. The 'X' was fulfilling that purpose, but maybe only for someone like me who knew it was there and knew what it did. Is there some other way of making it clear which exact place the truck is going to, such as a little arrow? If not, then I don't see any way around have the center be the center.

You guys know more about this than I

[2016-09-15 12:34] silasmeredith opened #103 "No scrolling"
From @JaneRuby
1. I think it shouldn't scroll in web view, it should all fit in the screen without a scroll
1. To fix that, I think the text at the bottom should be reorganized and not stacked as it is

Built by DevProgress | Design by Jane Ruby using Truck by John Caserta and Taco by Focus Lab, from the Noun Project | Want to help? It's open source!

^possible solution using pipes and keeping the

[2016-09-15 12:36] silasmeredith opened #104 "Search by address bar"
I know this costs money, but let's find out how much. If it's cheap, I'd be willing to pitch in some money (say $100), as long as one can set a threshold. We'd need to find out the price, the LOE for adding this to the site, and a contingency plan for what happens if we pass the $100 threshold.

[2016-09-15 14:18] kielni commented on #100
Yes, I think the x makes sense when it's the point of a map pin, but confusing for the truck shape.  https://github.com/DevProgress/more-tacos/commit/983cb58f1f80814e49d26cf017910a17996453db removes the x on drag and uses the default (center) anchor point so the truck will stay where you place it.

[2016-09-15 14:18] #100 closed, assigned to kielni

[2016-09-15 19:04] kielni commented on #103
There's just not very much room on mobile; the title and description takes up almost half of the height.  What do you think about putting the description in a dismissible popover?  It could close on click and/or automatically after some amount of time (10s?)

![screen shot 2016-09-15 at 12 03 50 pm](https://cloud.githubusercontent.com/assets/1649528/18563453/86e7c81a-7b3c-11e6-9769-4d2ece47b285.pn

[2016-09-15 19:16] JaneRuby commented on #103
Yes I agree!

[2016-09-15 19:17] JaneRuby commented on #103
Can you also adjust the text at the bottom? I think there is an open issue for that 😊

[2016-09-15 19:18] silasmeredith commented on #103
Makes sense to me. Again, you guys are the experts on this, so I'll follow your lead.

[2016-09-15 19:53] kielni commented on #103
see https://github.com/DevProgress/more-tacos/pull/105 for version with text adjustments

![screen shot 2016-09-15 at 12 52 30 pm](https://cloud.githubusercontent.com/assets/1649528/18566031/1bcd3852-7b47-11e6-843c-8c5a49618f29.png)

[2016-09-15 20:20] silasmeredith commented on #103
Looks good to me!

[2016-09-16 04:03] kielni commented on #103
fixed by https://github.com/DevProgress/more-tacos/pull/105

[2016-09-16 04:03] #103 closed, assigned to nobody

[2016-10-03 18:17] flibbertigibbet opened #107 "Add license"

[2016-10-04 00:49] jillh510 commented on #83
(kielni, parking this one with you for now, to keep an eye on)

[2016-10-04 21:45] kielni commented on #83
I don't expect this to be a problem: the daily limit is 25,000 and our 30 day usage is 2,226.

[2016-10-05 15:29] #56 closed, assigned to nobody

[2016-10-05 15:29] #50 closed, assigned to nobody

[2016-10-14 17:26] flibbertigibbet commented on #107
Added in #109. Not yet referenced in package.json.

[2016-10-14 17:56] flibbertigibbet commented on #107
Closed in #109.

[2016-10-14 17:56] #107 closed, assigned to nobody

[2016-10-31 20:43] #30 closed, assigned to nobody

[2016-10-31 20:43] #83 closed, assigned to kielni

[2016-10-31 20:43] #104 closed, assigned to nobody